{% load static %}

  <script src="{% static 'app/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'app/assets/vendor/js-cookie/js.cookie.js' %}"></script>

  <script src="{% static 'app/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'app/assets/js/argon.js' %}"></script>

              <div class="chart">
                <canvas id="chart-activities" class="chart-canvas"></canvas>
              </div>
<script>
var ActsChart = (function() {

        var $chart = $('#chart-activities');


        //
        // Methods
        //

        // Init chart
        function initChart($chart) {

                // Create chart
                var ordersChart = new Chart($chart, {
                        type: 'bar',
                        data: {
                                labels: ['Running', 'Cycling', 'Hiking', 'Climbing', 'Yoga', 'Strength', 'Swimming'],
                                datasets: [{
                                        label: 'Activities',
                                        data: [
                                          {{ activities.running.count }},
                                          {{ activities.cycling.count }},
                                          {{ activities.hiking.count }},
                                          {{ activities.climbing.count }},
                                          {{ activities.yoga.count }},
                                          {{ activities.strength.count }},
                                          {{ activities.swimming.count }}
                                        ]
                                }]
                        }
                });

                // Save to jQuery object
                $chart.data('chart', ordersChart);
        }


        // Init chart
        if ($chart.length) {
                initChart($chart);
        }

})();

</script>
