{% extends 'app/base.html' %}
{% block content %}
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-10">
            <h1 class="display-2 text-white">{{ profile.name }}</h1>
            <p class="text-white mt-0 mb-5">This is {{profile.name}}'s profile page. Here, you can update the information your sharing with the blockchain and with Exhaust (optional items), as well as update your personal preferences and settings regarding how the site works. Information shown as optional WILL NOT be published to your account data on the blockchain, and will not be shared with anybody. E-mail addresses will be used for account creation and recovery purposes, while address information will be used for shipping purchases from our future store.</p>
            <a href="#!" class="btn btn-neutral">Edit Profile</a>
            <a href="#!" class="btn btn-neutral">Edit Settings</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="{{ profile.profile.cover_image }}" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ profile_avatar }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info  mr-4 ">Follow</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message / Transfer</a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">{{ profile_friends.follower_count }}</span>
                      <span class="description">Followers</span>
                    </div>
                    <div>
                      <span class="heading">{{ profile_friends.following_count }}</span>
                      <span class="description">Following</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Activities</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3">
                  {{ profile.name }}<span class="font-weight-light">, {{ profile.rep|floatformat }}</span>
                </h5>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{ profile.profile.location }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{ profile.profile.name }}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{ profile.profile.about }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--- EDIT EXHAUST PREFERENCES -->
        <div class="col-xl-8 order-xl-1" style="display:none">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Settings and Preferences</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              This is where you can come to tweak your EXHAUST preferences and sync you STRAVA account, soon.
            </div>
          </div>
        </div>
        <!-- EDIT HIVE PROFILE -->
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Edit profile </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control" value="{{ user.username }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Name</label>
                        <input type="text" id="input-first-name" class="form-control" placeholder="{{ my_profile.profile.name }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Profile Image</label>
                        <input type="text" id="input-last-name" class="form-control" placeholder="{{ my_profile.profile.profile_image }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Cover Image</label>
                        <input type="text" id="input-last-name" class="form-control" placeholder="{{ my_profile.profile.cover_image }}">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">About Me</label>
                    <textarea rows="4" class="form-control" placeholder="A few words about you ...">{{ my_profile.profile.about }}</textarea>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information (optional and private)</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control" placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email Address</label>
                        <input type="email" id="input-email" class="form-control" placeholder="me@example.com">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control" placeholder="New York">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" class="form-control" placeholder="United States">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
              </form>
            </div>
            <div class="card-footer">
                <div class="col-12 text-right">
                  <a href="#!" class="btn btn-sm btn-success">Save Changes</a>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
