
<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'app/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load hivefilters %}

    <!-- Start Content -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">My Wallet</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="card-deck">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HIVE Balance</h5>
                      <span class="h2 font-weight-bold mb-0">{{ balances.available.0 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-wrap">Liquid Hive tokens that you can Transfer, PowerUp, or put into Savings.</span>
                  </p>
                </div>
                <div class="card-footer">
                    {% if coins.hive.market_data.price_change_percentage_24h > 0%}
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 
                    {% else %}
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>
                    {% endif %}{{ coins.hive.market_data.price_change_percentage_24h|floatformat:2 }}%</span>
                    <span class="text-nowrap">${{ prices.hive.cad|floatformat:3 }} CAD/HIVE</span>
                </div>
              </div>
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HBD Balance</h5>
                      <span class="h2 font-weight-bold mb-0">{{ balances.available.1 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-wrap">Liquid HBD tokens represent approximately $1-USD worth of HIVE. Note that the traded value fluctuates above and below this target. These can be converted to HIVE, Saved, or Transferred.</span>
                  </p>
                </div>
                <div class="card-footer">
                    {% if coins.hive_dollar.market_data.price_change_percentage_24h > 0%}
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 
                    {% else %}
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>
                    {% endif %}{{ coins.hive_dollar.market_data.price_change_percentage_24h|floatformat:2 }}%</span>
                    <span class="text-nowrap">${{ prices.hive_dollar.cad|floatformat:3}} CAD/HBD</span>
                </div>
              </div>
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HIVE Power</h5>
                      <span class="h2 font-weight-bold mb-0">{{ balances.available.2 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-wrap">"PoweredUp" HIVE tokens that increase your vote-strength and influence on the HIVE blockchain. Power up more HIVE for more influence, or power-down to make tokens available for transfers and trades. Powering down decreases your influence and vote-power.</span>
                  </p>
                </div>
                <div class="card-footer">
                    {% if coins.hive.market_data.price_change_percentage_24h > 0%}
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 
                    {% else %}
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>
                    {% endif %}{{ coins.hive.market_data.price_change_percentage_24h|floatformat:2 }}%</span>

                    <span class="text-nowrap">${{ prices.hive.cad|floatformat:3 }} CAD/HIVE</span>
                </div>
              </div>
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Rewards to Claim</h5>
                      <input type="hidden" id="claim_account" name="claim_account", value="{{ user.username}}" readonly>
                      {% for reward in balances.rewards %}
                      <p class="h2 font-weight-bold mb-0">
                        {{ reward }}
                      <input type="hidden" id="claim_{{ reward.symbol }}" name="claim_{{reward.symbol}}", value="{{reward.amount|floatformat:reward.asset.precision}}" readonly>
                      </p>
                      {% endfor %}
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-wrap">These are HIVE, HBD, and VEST (essentially HIVEPOWER) rewards that you've earned from posting on EXHAUST and other platforms. Every post and comment is open to up/down voting for 7-days. Afterwards, the final rewards earned are available for you to add to your wallet.</span>
                  </p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-primary btn-sm" id="claim_rewards">Claim Rewards</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Account Growth</h6>
                  <h5 class="h3 text-hivered mb-0">HivePower History</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-suffix="km">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-suffix="km">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Transfers in the Last 7 Days</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See More</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Time</th>
                    <th scope="col">To/From</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transfer in recent_transfers %}
                  <tr>
                    <th scope="row">
                      {{ transfer.type }}
                    </th>
                    <td>
                      {{ transfer.timestamp|naturaltime }}
                    </td>
                    <td>
                      {% if transfer.type == 'transfer' and transfer.from != request.user.username %}
                        <span class="text-success">From: @{{ transfer.from }}</span>
                      {% elif transfer.type == 'transfer' and transfer.from == request.user.username %}
                        <span class="text-danger">To: @{{ transfer.to }}</span>
                      {% elif transfer.type == "transfer_to_vesting"%}
                        Power Up
                      {% endif %}
                    </td>
                    <td>
                      {% if transfer.type == 'transfer' and transfer.from != request.user.username %}
                        <span class="text-success">{{ transfer.amount|format_nai }} -- {{ transfer.memo }}</span>
                      {% elif transfer.type == 'transfer' and transfer.from == request.user.username %}
                        <span class="text-danger">{{ transfer.amount|format_nai }} -- {{ transfer.memo }}</span>
                      {% elif transfer.type == 'claim_reward_balance' %}
                        {{ transfer.reward_steem|format_nai }}; {{ transfer.reward_sbd|format_nai }}; {{ transfer.reward_vests|format_nai }};
                      {% elif transfer.type == 'transfer_to_vesting' %}
                        {{ transfer.amount|format_nai }}
                      {% endif %}
                    </td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Active HP Delegations</h3>
                </div>
<!--                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>-->
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">User</th>
                    <th scope="col">In/Out</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      1,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      5,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">70%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Google
                    </th>
                    <td>
                      4,807
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">80%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Instagram
                    </th>
                    <td>
                      3,678
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">75%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      twitter
                    </th>
                    <td>
                      2,645
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">30%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
